@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");


.text-wrapper {
  color: #000000;
  font-family: "Crimson Text", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 617px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 215px;
}

.div {
  color: #000000;
  font-family: "Crimson Text", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.rectangle {
  height: 497px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 1440px;
}

.text-wrapper-2 {
  color: #000000;
  font-family: "Crimson Text", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1186px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 109px;
  text-decoration: none
}

.text-wrapper-3 {
  color: #000000;
  font-family: "Crimson Text", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1297px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 109px;
  text-decoration: none 
}

